 body {
  background: rgb(24, 24, 24);
  color: rgb(125, 125, 125);
  font-family: monospace;
  font-weight: bold;
}

button {
  background: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
  font-family: monospace;
}

div {
  border: solid;
  padding: 4px;
  margin: 4px;
}

.craftDisplays {
  width: fit-content;
  display: inline-block;
}

a, a:link, a:visited {
  color: rgb(125, 125, 125);
}

#mineStone,
#pickaxeUpgradeOne,
#mineIron, #digDirt, #shovel, #changelog {
  display: none;
}

#coins {
color: white;
font-size: 14px;
}

#block {
  background-color:rgb(125, 125, 125);
  width:calc(100% + 40px);
  margin-left:-47px;
}

#title {
  font-size: 40px;
}

#config {
  border: none;
}
