 body {
  background: rgb(24, 24, 24);
  color: rgb(125, 125, 125);
  font-family: monospace;
  font-weight: bold;
}

button {
  background: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
  font-family: monospace;
}

div {
  border: solid;
  padding: 4px;
  margin: 4px;
}

.craftDisplays {
  width: fit-content;
  display: inline-block;
}

#mineStone,
#pickaxeUpgradeOne,
#mineIron, #digDirt, #shovel {
  display: none;
}

#coins {
color: white;
font-size: 14px;
}
